@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu {
        width: 768px;
    }

    .home {
        background-attachment: fixed;
    }

    .home h1 {
        font-weight: 700;
        padding: 10px 5px;
        line-height: 1.1;
        margin: 30px 0 8px;
        align-items: left;
        width: auto;
       
    }

    .home h2 {
        padding: 10px 5px;
        line-height: 1.1;
        margin: 30px 0 8px;
        text-align: left;
        width: 380px;
    }

    .slide p {
        padding: 10px 5px;
        line-height: 1.1;
        margin: 0 0 8px;
        width: 120px;
        text-align: left;
        padding-bottom: 30px;
    }

    .sobre{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1.5rem;
    }

    .sobre-img img {
        display: block;
    }
}